.form{
    padding: 20px 40px;
    width: 600px;
    margin: 0 auto;
    background-color: darkslategray;
    border-radius: 5px;
    color: white;
    height: fit-content;
}

.err-modal{
    text-align: center;
    top: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
}